<!-- templates/fragments/nav.html -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/" th:href="@{/}">Dream Decode</a>
        <button class="navbar-toggler navbar-toggler-right" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#projects">Dream List</a></li>
                <li class="nav-item"><a class="nav-link" href="#resources">Resources</a></li>

                <!-- ✅ 로그인하지 않은 경우 -->
                <li class="nav-item ms-3" id="navLogin">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</a>
                </li>
                <li class="nav-item" id="navSignup">
                    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#signupModal">회원가입</a>
                </li>

                <!-- ✅ 로그인한 경우 -->
                <li class="nav-item d-none" id="navMyPage">
                    <a class="nav-link" href="/profile" th:href="@{/profile}">My Page</a>
                </li>
                <li class="nav-item d-none" id="navLogout">
                    <a class="nav-link" href="#" id="logoutLink">로그아웃</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
